[package]
name = "rateslibrs"
version = "1.2.0"
edition = "2021"

[lib]
name = "rateslibrs"
path = "src/lib.rs"
#crate-type = ["rlib"]
#crate-type = ["cdylib"]  # for pyO3
crate-type = ["lib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#pyo3 = { version = "0.20.3", features = ["abi3-py39", "extension-module", "chrono"] }
#chrono = "0.4.0"
ndarray = "0.15.6"
indexmap = "1.9.3"
num-traits = "0.2.15"
auto_ops = "0.3.0"
numpy = "0.20.0"
itertools = "0.12.1"

[dependencies.pyo3]
version = "0.20.3"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

[dev-dependencies]
criterion = { version = "0.4", features = ["html_reports"] }

[[bench]]
name = "my_benchmark"
harness = false