include rateslib/data/corra.csv
include rateslib/data/estr.csv
include rateslib/data/instrument_spec.csv
include rateslib/data/nowa.csv
include rateslib/data/sofr.csv
include rateslib/data/sonia.csv
include rateslib/data/swestr.csv
include rateslib/data/usd_rfr.csv
