# project
numpy>=1.26.1,<3.0
pandas>=2.1.3,<3.0
matplotlib>=3.8.1,<4.0

# development
maturin>=1.6.0,<2.0
pytest>=8.2.2,<9.0
coverage>=7.5.3,<8.0  # for test and code monitoring

# doc building
sphinx>=7.3.7,<8.0  # (5.1.1) # for doc building
sphinx-automodapi==0.16.0  # (0.14.1) # for doc building
pydata-sphinx-theme==0.14.3  # (0.12.0)
nbsphinx==0.9.4
pickleshare==0.7.5

ruff>=0.5.0  # for code linting
# mypy>=1.7.0  # for type checking

jupyterlab>=4.0.8

# asv==0.5.1  # for performance test suite
# virtualenv==20.16.3  # requirement of asv