/* Getting started pages */

html {
  --pst-font-size-base: 0.9rem;
}

html[data-theme="light"] {
  --pst-color-secondary: darkorange;
  --pst-color-link-hover: darkorange;
  --pst-heading-color: #459db9;
  --pst-color-inline-code: darkorange;
  --pst-color-table-row-hover-bg: #459db92b; /* #ff8c001c; */
  --pst-color-table-row-zebra-low-bg: #f3f4f540;
}

a {
  text-decoration: none;
}

.prev-next-area a p.prev-next-title {
  text-decoration: none;
}

a.nav-link:hover {
  text-decoration: none;
}

code.xref:hover {
  color: darkorange;
}

/*code {*/
/*  color: darkorange;*/
/*}*/

/*.sig-name {*/
/*  color: darkorange;*/
/*}*/

.table td, .table th {
  font-size: 0.85em;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.highlight {
  font-size: 0.8em;
}

div.leftside40 {
  width: 38% !important;
  float: left !important;
}

div.leftside50 {
  width: 48% !important;
  float: left !important;
}

div.rightside60 {
  width: 58% !important;
  float: right !important;
}

div.rightside50 {
  width: 48% !important;
  float: right !important;
}

div.clear {
  clear: both;
}

div.tutorial {
  text-align: center;
}

div.tutorial span{
  background-color: #000059;
  color: #e0e0e0;
  border-radius: 0.5em;
  padding: 0.25em;
}

.red {
  color: red;
  font-style: italic;
}

.green {
  color: #00612c;
  font-style: italic;
}

table.scrollwide {
  display: block;
  width: 648px;
  /*background-color: #E0;*/
  overflow: auto;
}
table.scrollwide td {
  white-space: normal;
  max-width:96px;
}

.bd-header {
  background-color: #c4dfe9 !important;
}

span.spamoff {display: none;}

.flex-container-line {
  display: flex; /* Makes this a true flex container! */
  padding: 10px;
  margin: 0;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.flex-item {
  border-left: 2px solid #cecece;
  border-radius: 0px;
  width: 190px;
  text-align: left;
  padding: 1.5em;
  padding-right: 0em;
}

.flex-item-right {
  width: 500px;
  text-align: left;
  padding: 1.5em;
  padding-right: 0em;
}

.flex-item:hover {
  /*background-color: rgba(255, 140, 0, 0.25);*/
  background-image: linear-gradient(to right, rgba(255, 140, 0, 0.35), rgba(255,140,0,0));
}

.purchase-btn {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 0.4em;
  margin: 0px 10px;
  background: #eaebf5;
}

.purchase-btn:hover {
  border: 1px solid grey;
}
