/* Getting started pages */

code {
  color: darkorange;
}

.sig-name {
  color: darkorange;
}

.table td, .table th {
  font-size: 0.85em;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.highlight {
  font-size: 0.8em;
}
