/* Getting started pages */

html {
  --pst-font-size-base: 0.9rem;
}

html[data-theme="light"] {
  --pst-color-secondary: darkorange;
  --pst-color-link-hover: darkorange;
  --pst-heading-color: #459db9;
  --pst-color-inline-code: darkorange;
}

a {
  text-decoration: none;
}

.prev-next-area a p.prev-next-title {
  text-decoration: none;
}

a.nav-link:hover {
  text-decoration: none;
}

code.xref:hover {
  color: darkorange;
}

/*code {*/
/*  color: darkorange;*/
/*}*/

/*.sig-name {*/
/*  color: darkorange;*/
/*}*/

.table td, .table th {
  font-size: 0.85em;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.highlight {
  font-size: 0.8em;
}

div.leftside40 {
  width: 38% !important;
  float: left !important;
}

div.leftside50 {
  width: 48% !important;
  float: left !important;
}

div.rightside60 {
  width: 58% !important;
  float: right !important;
}

div.rightside50 {
  width: 48% !important;
  float: right !important;
}

div.clear {
  clear: both;
}

div.tutorial {
  text-align: center;
}

div.tutorial span{
  background-color: #000059;
  color: #e0e0e0;
  border-radius: 0.5em;
  padding: 0.25em;
}

.red {
  color: red;
  font-style: italic;
}
